body {
    margin: 0;
}
.home--background {
    background-image: url("./images/sep-campout-farm-mechanics-1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
    margin: 0;
    padding: 0;
}
.home--background::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    min-height: 100vh;
}